# IDE systwm files
/.idea
/.vs
/.vscode

# Python internal
/venv
/.venv
__pycache__/

# Local app env and data
/config.json
/config
/.env
/*.sqlite

# Local copy of media and static files
/library/static/
/media/

# ISPManager local configuration
ecosystem.config.js
