{% extends 'base.html' %}
{% load static %}
{% load library_extras %}

{% block title %}Библиотеки на карте Тамбовской области{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}


{% block content %}
<article class="simple-border">
    <h1>Библиотеки на карте Тамбовской области</h1>
    <p>созданные в рамках национальных проектов «Культура» и «Семья»</p>
</article>

<article class="library-hero">
    <div class="library-hero__header">
        <div class="circle" aria-hidden="true"></div>
{#        <h2>21 маяк культуры на карте Тамбовской области</h2>#}
         <h2>{{ libraries.count|pluralize_ru:"маяк,маяка,маяков" }} культуры на карте Тамбовской области</h2>
    </div>
    <p>Они зажглись, чтобы освещать путь в мир современных технологий,
        интеллектуального роста и культурного просвещения.
        В городах и сёлах, для детей и взрослых — модельные библиотеки
        нового поколения превратились в современные интеллект-центры.
        Посмотреть их местоположение, доступные технические ресурсы и индивидуальные возможности,
        можно на интерактивной карте региона. Добро пожаловать на портал библиотек нового поколения!</p>
</article>
<article class="question">
    <h3>Какие они — новые библиотеки Тамбовской области?</h3>
    <div class="variants">
        <div class="variant variant--green">
            <h4>Пространство</h4>
            <p>Современный интерьер гармонирует с уютом: эргономичная мебель, продуманное освещение и тёплая цветовая гамма создают атмосферу, в которую хочется возвращаться.</p>
        </div>
        <div class="variant variant--light-green">
            <h4>Технологии</h4>
            <p>Цифровая среда и мультимедиа в открытом доступе. Широкие возможности для погружения в мир современных технологий.</p>
        </div>
        <div class="variant variant--beige">
            <h4>Развитие</h4>
            <p>Точка концентрации талантов и креативных идей. Место, где таланты обретают поддержку, а замыслы — путь к воплощению.</p>
        </div>
    </div>
</article>
{% endblock %}
