{% extends 'base.html' %}
{% load static %}

{% block title %}Карта библиотек Тамбовской области{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/map.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts/map.js' %}"></script>
{% endblock %}

{% block content %}
<article class="simple-border">
    <h1>Карта библиотек ТАМБОВСКОЙ ОБЛАСТИ</h1>
</article>

<article class="map_wrapper">
    {% include 'includes/svg-map.html' %}
</article>

<article class="districts-list" id="districts-list">
    <h2>Городские и муниципальные округа</h2>
    <div class="districts-grid">
        {% for district in districts|dictsort:"name" %}
        <div class="district-link" data-svg-id="{{ district.map_id }}">
            {{ district.name }}
        </div>
        {% endfor %}
    </div>
</article>

<!-- БИБЛИОТЕКИ ПО ОКРУГАМ -->
{% for district in districts %}
<article class="district-libraries" data-svg-id="{{ district.map_id }}" style="display: none;">
    <div class="district-libraries__header">
        <h2>
            {{ district.full_display_name }}
        </h2>
        <button class="district-libraries__back">← К округам</button>
    </div>

    <div class="dashboard-filters-title">Сортировать по типу:</div>

    <div class="library-dashboard-filters">
        <div class="dashboard-card active" data-type="all">
            <span class="dashboard-card__count">{{ district.count_all_libraries }}</span>
            <span class="dashboard-card__label">Показать все</span>
        </div>
        
        <div class="dashboard-card" data-type="model_lib">
            <span class="dashboard-card__count">{{ district.count_model_lib }}</span>
            <span class="dashboard-card__label">Модельная библиотека</span>
        </div>
        
        <div class="dashboard-card" data-type="model_gen">
            <span class="dashboard-card__count">{{ district.count_model_gen }}</span>
            <span class="dashboard-card__label">Модельная библиотека + «Гений места»</span>
        </div>
        
        <div class="dashboard-card" data-type="gen_lab">
            <span class="dashboard-card__count">{{ district.count_gen_lab }}</span>
            <span class="dashboard-card__label">«Гений места»</span>
        </div>
        
        <div class="dashboard-card" data-type="child_center">
            <span class="dashboard-card__count">{{ district.count_child_center }}</span>
            <span class="dashboard-card__label">Детский центр</span>
        </div>
    </div>

    {% if district.capital %}
        
        {% if district.count_all_libraries > 0 %}
            
            {% if district.capital.libraries.exists %}
            <div class="settlement-group capital-group">
                <div class="sub-capital-title">
                    <h3>{{ district.capital.name }}</h3>
                </div>
                {% include 'includes/settlement_libraries.html' with libraries_list=district.capital.libraries %}
            </div>
            {% endif %}

            {% if district.count_all_libraries > district.capital.libraries.all.count %}
                <div class="sub-district-title">
                    <h3>{{ district.clean_sub_title }}</h3>
                </div>

                {% for city in district.cities.all %}
                    {% if city != district.capital and city.libraries.exists %}
                    <div class="settlement-group">
                        <h3 class="settlement-name">{{ city.name }}</h3>
                        {% include 'includes/settlement_libraries.html' with libraries_list=city.libraries %}
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="sub-district-title" style="display: none;"></div>
            {% endif %}

        {% else %}
            <p class="empty-district-message">
                В данном {{ district.get_district_type_display|lower }}е библиотеки временно не добавлены на карту.
            </p>
        {% endif %}

    {% else %}
        {% if district.count_all_libraries > 0 %}
            {% for city in district.cities.all %}
                {% if city.libraries.exists %}
                <div class="settlement-group">
                    <h3 class="settlement-name">{{ city.name }}</h3>
                    {% include 'includes/settlement_libraries.html' with libraries_list=city.libraries %}
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="empty-district-message">
                В данном {{ district.get_district_type_display|lower }}е библиотеки временно не добавлены на карту.
            </p>
        {% endif %}
    {% endif %}

    <p class="filter-empty-message" style="display: none;">В данном округе отсутствуют библиотеки выбранного типа.</p>

</article>
{% endfor %}

<div id="map-tooltip" class="map-tooltip"></div>
{% endblock %}


