<!-- templates/map.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Карта библиотек Тамбовской области{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/map.css' %}">
{% endblock %}

{% block content %}
<section class="map_section">
    <div class="simple-border">
        <h1>Карта библиотек <br>ТАМБОВСКОЙ ОБЛАСТИ
        </h1>
    </div>
    <div class="map_wrapper">
        {% include 'includes/svg-map.html' %}
    </div>
    <div class="districts-list">
        <h2>Муниципальные округа</h2>
        <div class="districts-grid">
            {% for district in districts %}
            <a href="#" class="district-link" data-svg-id="{{ district.svg_id }}">
                {{ district.name }}
            </a>
            {% endfor %}
        </div>
</section>
{% endblock %}